@font-face {
    font-family: "Syne";
    src: url("assets/Syne.ttf") format("truetype");
}

:root {
    --Primary: #207EDE; --PrimaryRGB: 32, 126, 222;
    --PureBlack: #000; --PureBlackRGB: 0, 0, 0;
    --PureWhite: #fff; --PureWhiteRGB: 255, 255, 255;
    --Background: #e8e2d8; --BackgroundRGB: 232, 226, 216;

/* Hero */
    --Rotation: 0deg;
    --Thickness: 20px;
    --Border: 8px;
    --Gap: 30px;
    --Scale: 0.9;
}

* {
    margin: 0;
    padding: 0;

    &::after, &::before {
        box-sizing: border-box;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: clip;
    font-family: "Syne", sans-serif;
}

section.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100vw;
    height: 100vh;

    .Box {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150vw;
        height: 150vh;
        transform: translate(-10vw, -40px);

        &#Ground {
            z-index: 5;
            backGround: linear-gradient(var(--Rotation), transparent 50%, var(--Primary) 50%);
        }

        &#Air    {
            z-index: 10;

            backGround:
                linear-gradient(var(--Rotation), transparent calc(50% - var(--Thickness) - var(--Border)),
                var(--Background) calc(50% - var(--Thickness) - var(--Border)),
                var(--Background) calc(50% - var(--Thickness)),
                color-mix(in oklab, var(--Background), var(--Primary) 40%) calc(50% - var(--Thickness)),
                color-mix(in oklab, var(--Background), var(--Primary) 40%) calc(50% + var(--Thickness)),
                var(--Primary) calc(50% + var(--Thickness)),
                var(--Primary) calc(50% + var(--Thickness) + var(--Border)), transparent calc(50% + var(--Thickness) + var(--Border)));
            backGround-repeat: no-repeat;
        }

        &#Text   {
            z-index: 15;
        
            .SubBox {
                display: flex;
                flex-direction: column;
                gap: var(--Gap);
                text-align: center;
                font-size: 20px;
                transform: rotate(var(--Rotation)) scale(var(--Scale));

                .SubText {
                    display: inline;
                    width: fit-content;
                    position: relative;
                    overflow: visible;
                    padding: 15px;
                    margin: 0px;
                    font-weight: 800;
                    font-size: 80px;
                    line-height: 65px;
                    border-radius: 5px;
                    paint-order: stroke fill;

                    &#SubT1 {
                        margin-right: 150px;
                        padding-top: 10px;
                        padding-bottom: 0px;
                        -webkit-text-stroke: 18px var(--Primary);
                        color: var(--Background);
                        
                        span {
                            &.T1A {right: -50px; bottom: 0px;}
                            &.T1B {right: 15px; bottom: 60px;}
                            &.T1C {right: -90px; bottom: 0px;}
                            &.T1D {right: 15px; bottom: 100px; letter-spacing:5px;}
                            &.T1E {right: -5px; bottom: 150px;}
                        }
                    }

                    &#SubT2 {
                        margin-left: 110px;
                        padding-bottom: 10px;
                        padding-top: 0px;
                        -webkit-text-stroke: 18px var(--Background);
                        color: var(--Primary);

                        span {
                            &.T2A {left: -50px; top: 0px;}
                            &.T2B {left: 15px; top: 60px;}
                            &.T2C {left: -100px; top: 0px;}
                            &.T2D {left: 15px; top: 100px; letter-spacing:5px;}
                            &.T2E {left: -5px; top: 150px;}
                        }
                    }

                    span {
                        position: absolute;
                        line-height: auto;
                        -webkit-Text-stroke-width: 9px;
                        white-space: nowrap;
                        text-transform: uppercase;

                        &.TS26 {font-size: 26px; font-weight: 400;}
                        &.TS30 {font-size: 30px; font-weight: 600;}
                        &.TS46 {font-size: 46px; font-weight: 700;}

                        &.VT {
                            writing-mode: vertical-rl;
                            text-orientation: upright;
                        }
                    }
                }
            }
        }
    }
}

section.Work {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--PureBlack);

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        
        #CanvasGrid {z-index: 0;}
        #CanvasLetters{z-index: 1;}
    }

    .Letters {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
        perspective: 156.25rem;
        perspective-origin: center;
    }

    .Letter {
        position: absolute;
        font-size: 14rem;
        font-weight: bold;
        color: var(--Primary);
        z-index: 2;
        transform-origin: center;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .Container {
        position: relative;
        width: 500vw;
        height: 100vh;
        padding-left: 100vw;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;

        .Card {
            width: 10%;
            height: 50%;
            padding: 0.5rem;
            background-color: var(--PureBlack);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .CardImg {
                flex: 1;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &:first-child {display: flex;}
                    &:last-child {display: none;}
                }
            }

            .CardDesc {
                height: 0.75rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0.25rem;
                font-size: 0.75rem;
                color: var(--PureWhite);
            }
        }
    }
}

section.Merge {
    max-width: 1400px;
    margin: 10rem auto;
    padding: 0 20px;

    .ListContainer {
        position: relative;
        display: flex;
        gap: 2rem;

        .ListText {
            height: max-content;
            position: sticky;
            top: 50vh;
            color: var(--PureBlack);
            font-size: clamp(2.5rem, 6vw, 6rem);
            font-weight: 600;
            margin: 0;
            transform: translateY(-50%);
            white-space: nowrap;
        }

        .List {
            list-style: none;
            font-size: clamp(2.5rem, 6vw, 6rem);
            font-weight: 600;
            margin: 0;
            padding: 0;
            padding-top: 50vh;
            padding-bottom: 50vh;
            text-transform: capitalize;

            li {
                color: var(--Primary);
                line-height: 1.2;
                opacity: 0.15;
                margin-bottom: 10px;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
}   

@supports (animation-timeline: scroll()) {
    .List li {
        animation: Bright both linear;
        animation-timeline: view();
        animation-range: cover calc(50% - 9rem) calc(50% + 9rem);
    }
}

@keyframes fadeInLetter {to {opacity: 1; transform: translateY(0);}}
@keyframes drawCircle {to {stroke-dashoffset: 0;}}

@keyframes Strip {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

@keyframes StripReverse {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

@keyframes Bright {
    0% {opacity: 0.15;}
    50% {opacity: 1;}
    100% {opacity: 0.15;}
}

@media (max-width: 600px) {
    :root {
        --Scale:     0.65;
        --Thickness: 10px;
        --Border:    5px;
        --Gap:       28px;
    }

    section.Hero {
        .Box {transform: translate(-2vw, -40px);}
        img {max-width: 225px;}
    }

    .CardImg {
        img:first-child {display: none !important;}
        img:last-child {display: flex !important;}
    }
}