<section class="CallToAction Cities">
    <div class="Design">
        <div class="Text">
            <h2>Basé à Poitiers,<br><em>présent à Reims.</em></h2>
        </div>
        <div class="Action">
            <p>Rendez-vous sur place ou en visio, et accompagnement à distance partout en France.</p>
            <div class="Links">
                <a href="/poitiers" class="ArrowBtn">Webdesigner à Poitiers <span class="Arrow">↗</span></a>
                <a href="/reims" class="ArrowBtn">Webdesigner à Reims <span class="Arrow">↗</span></a>
            </div>
        </div>
    </div>
</section>